@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Lato';
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: bolder;
}
#hero-msg h4 {
    text-align: center;
    font-family: 'Lato';
    font-weight: bolder;
}
.button-box {
    text-align: center;
    font-family: 'Lato';
    font-weight: bolder;
}
main section {
    text-align: center;
    font-family: 'Lato';
}
#background {
    height: 725px;
}
body {
    background-color: #fefadc;
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}
header {
    background-color: #2a4747;
}
nav a:hover {
    background-color: #815e5b;
    color: white;
}
.book {
    background-color: #fefadc;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family:"Lato";
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #fefadc;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lato';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: white;
    color: #2a4747
}
.join:hover {
    background-color: white;
    color: #2a4747;
}
#background {
    background-color: #815e5b;
}
.msg {
    background-color: #fefadc;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #fefadc;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: #2a4747;
    font-family:"Playfair Display";
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #2a4747
}
.msg h2 {
    color: #2a4747;
    font-family:"Playfair Display";
    font-size: 2em;
    margin: 0;
    margin-top: 10px;
}
.msg p {
    color: #2a4747;
    font-family:"Lato";
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: #2a4747;
    font-family:"Lato";
}
footer a {
    color: #2a4747;
    text-decoration: none;
    font-family:"Lato";
}
footer a:hover {
    color: black
}
.icon {S
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
    box-sizing: border-box;
}
footer .social img {
    padding-top: 15px;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
.mountains {
    margin-top: 75px;
    margin-bottom: 75px;
}
