@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');
body {
   background-color: #f4f3ee;
   margin: 0;
   padding: 0;
}
.header {
    background-color: #191f24;
    display: grid; 
    grid-template-columns: 150px auto;
    max-width: 100%;
}
.logo {
    width: 80px;
    border-radius: 5px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Cinzel';
    font-size: 25px;
    padding: 30px;
}
nav a:hover {
    background-color: #D4D8D4;
    color: black;
}
h1 {
    font-size: 50px;
    font-family: 'Cinzel';
    text-decoration: underline;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.photogrid {
    grid-template-rows: 1fr 1fr 1fr;
}
.portraits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.paola {
    width: 400px;
    height: 300px;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 50px;
}
.emma {
    width: 300px;
    height: 400px;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 100px ;
}
.mate {
    width: 300px;
    height: 400px;
    grid-column: 3/4;
    grid-row: 1/2;
    padding-left: 100px;
}
.stef {
    width: 300px;
    height: 400px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 100px;
}
.flowerstef {
    width: 400px;
    height: 300px;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 50px;
}
.jordan {
    width: 300px;
    height: 400px;
    grid-column: 3/4;
    grid-row: 2/3;
    padding-left: 100px;
    margin-top: 10px;
}
hr {
    font-size: 40px;
    border-style: double;
}
.portraitparagraph {
    font-size: 30px;
    font-family: 'Fauna One';
    display: block;
    margin-top: 60px;
    color: #191f24;
}
.portraitquote {
    font-size: 20px;
    font-family: 'Fauna One';
    font-weight: bolder;
    font-style: italic;
    display: block;
    margin-top: 50px;
}
.landscapes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.cave {
    width: 300px;
    height: 400px;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 100px ;
}
.cloudmountains {
    width: 300px;
    height: 400px;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 100px ;
}
.beach {
    width: 400px;
    height: 300px;
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 50px;
}
.mexicomountains {
    width: 400px;
    height: 300px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 50px;
}
.street {
    width: 300px;
    height: 400px;
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 100px ;
    margin-top: 10px;
}
.grandcanyon {
    width: 300px;
    height: 400px;
    grid-column: 3/4;
    grid-row: 2/3;
    padding-left: 100px ;
}
.landscapeparagraph {
    font-size: 30px;
    font-family: 'Fauna One';
    display: block;
    margin-top: 60px;
    color: #191f24;
}
.landscapequote {
    font-size: 20px;
    font-family: 'Fauna One';
    font-weight: bolder;
    font-style: italic;
    display: block;
    margin-top: 50px;
}
.miscellaneous {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.blue {
    width: 400px;
    height: 300px;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 50px;
}
.church {
    width: 300px;
    height: 400px;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 100px;
}
.dark {
    width: 300px;
    height: 400px;
    grid-column: 3/4;
    grid-row: 1/2;
    padding-left: 100px;
}
.shed {
    width: 400px;
    height: 300px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 50px;
}
.glass {
    width: 400px;
    height: 300px;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 50px;
}
.half {
    width: 300px;
    height: 400px;
    grid-column: 3/4;
    grid-row: 2/3;
    padding-left: 100px;
    margin-top: 10px;
}
.rainbow {
    width: 300px;
    height: 400px;
    grid-column: 1/2;
    grid-row: 3/4;
    padding-left: 100px;
    margin-top: 10px;
}
.sand {
    width: 300px;
    height: 400px;
    grid-column: 2/3;
    grid-row: 3/4;
    padding-left: 100px;
    margin-top: 10px;
}
.track {
    width: 300px;
    height: 400px;
    grid-column: 3/4;
    grid-row: 3/4;
    padding-left: 100px;
    margin-top: 10px;
}
.train {
    width: 300px;
    height: 400px;
    grid-column: 1/2;
    grid-row: 4/5;
    padding-left: 100px;
    margin-top: 20px;
}
.woman {
    width: 300px;
    height: 400px;
    grid-column: 2/3;
    grid-row: 4/5;
    padding-left: 100px;
    margin-top: 20px;
}
.yellow {
    width: 300px;
    height: 400px;
    grid-column: 3/4;
    grid-row: 4/5;
    padding-left: 100px;
    margin-top: 20px;
}
.miscellaneousparagraph {
    font-size: 30px;
    font-family: 'Fauna One';
    display: block;
    margin-top: 60px;
    color: #191f24;
}
.miscellaneousquote {
    font-size: 20px;
    font-family: 'Fauna One';
    font-weight: bolder;
    font-style: italic;
    display: block;
    margin-top: 50px;
}
.book {
    background-color: red;
    color: #D4D8D4;
    text-decoration: none;
    font-weight: bold;
    font-family:'Cinzel';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 100px;
    border-radius: 5px;
    text-align: center;
}
.button-box {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.book:hover {
    background-color: white;
    color: #2a4747
}
footer {
    background-color: #191f24;
    max-width: 100%;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
    font-family:"Cinzel";
}
footer a:hover {
    color: red;
}
h3 {
    color: white;
    text-decoration: none;
    font-family:"Cinzel";
}